.tox-tinymce {
  margin-top: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
  width: 100%;
  max-height: 100% !important;
  height: 100% !important;
}
